DATABASE_URI=<neondb connection string>
JWT_SECRET=<fill as you like>

IMAGEKIT_PUBLIC_KEY=<imagekit.io - developer options>
IMAGEKIT_PRIVATE_KEY=<imagekit.io - developer options>
IMAGEKIT_URL_ENDPOINT=<imagekit.io - developer options>